@media screen and (max-width:478px) {
    html, body {
        overflow-x: hidden;
    }
    #nav{
        margin-left: 0px;
    }
    
    #nav-bottom{
        display: block;
        /* border: 2px solid red; */
    }
    .starr{
      transform: translateX(150px);
    }
    #line1{
        width: 150px;
    }
    #line2{
        width: 100px;
    }
    #maidstar{
        width: 150px;
    }
    .sept{
        font-size: 15px;
        margin-left: 25px;
    }
    .Agbowo{
        font-family: 500;
        font-size: 20px;
    }
    
    .maiden{
        font-size: 15px;
    }
    .center{
        /* margin-left: 10px; */
        /* background-image: url(images/Venue-1-38edfbf0.png); */
        height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        /* max-width: 100%; */
        /* height: 100%; */
        /* width: 100%; */
        
    }
   
    .line-img img{
       gap: 50px;
    }
    .spview p{
        display: flex;
        font-size: 20px;
        /* border-bottom: 2px solid gold; */
    }
    .view{
        font-size: 4px;
        transform: translateX(65px);
        color: blue;
    }
    .view p{
        font-size: 10px;
        margin-top: -5px;
    }
    #pspeakers{
        flex-direction: row;
        /* justify-content: space-evenly; */
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        /* column-gap: 5px; */
        /* line-height: 50px; */
        padding: 10px;
        color: #0759fc;
        font-weight: 500;
        text-align: center;
      }
      .img{
        height: 150px;
       width: 150px;
       /* justify-content: space-evenly; */
       /* margin: 100px 0px; */
    }
    #pspeakers h1{
        margin-left: 0px;
        font-size: 15px;
        
    }
    #pspeakers p{
        margin-left: 10px;
    }

      .container-card{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 100px;
        padding: 50px;
    }

    .card1{
        /* border: 1px solid black; */
        border-radius: 10px;
        background-color: green;
        color:white;
    }
    .card3{
        /* border: 1px solid black; */
        border-radius: 10px;
        background-color: blue;
        color: white;
    }
    #ticket{
        flex-direction: column;

    }
    #ticket-img{
        margin-left: 0;
        text-align: center;
    }
    #ticket p{
        padding-left: 50px;
        margin-top: 90px;
        font-size: 15px;
    }
    #prices{
        color: #0011ff;
        text-align: center;
        /* margin-left: 250px; */
        /* font-weight: 1000; */
    }
    #mark{
        padding-left: 10px;
    }
    #blue-card{
        
    }
    #elon{
        padding-left: 10px;
    }
    #jeff{
        padding-left: 10px;
    }
    .gold{
        padding:0px 0px 0px 100px;
        /* color: #0011ff;
        font-weight: bold; */
    }
    .community{
        padding: 0px 0px 0px 100px;
        /* color: #0011ff; */
        /* font-weight: bold; */
        margin-top: 55px;
        /* margin-left: 20px; */
        font-size: 19px;
    }
   .laptop{
    margin-left: -20px;
    height: 90px;
    width: 100px;
   }
    .girl{
        height: 260px;
        width: 150px;
        margin-left: 100px;
        transform: translateY(-120px);
        }
        .watch{
        height: 70px;
        width: 40px;
        /* transform: translateY(-100px); */
        margin-top: -50px;
        }
        .partners{
            /* padding:0 100px; */
            transform: translateY(-150px);
            color: #0011ff;
            font-weight: bold;
            margin-top: 200px;
         }
         .lines{
            /* gap: 30px; */
            margin-right: 30px;
            /* width: 50px; */
         }
         .san{
            /* display: flex;
            height: 60px;
            width: 40px;
            margin-top: 40px;
            gap: 40px;
            animation: san 10s linear infinite;
            transform: translate(1000px,);
            transform: translateY(); */
            margin-top: -100px;
         }
         .media{
            padding: 0px 0px 0px 100px;
            /* color: #0011ff;
            font-weight: bold; */
             margin-top: 40px;
        }
        .media {
            font-size: 25px;
        }
        .techprice{
            width: 100%;
            /* height: 5%; */
        }
        .techprice{
            /* background-image: linear-gradient(to right, #132351, #132351, #cf5a63); */
            /* display: flex; */
            /* flex-wrap: wrap; */
            /* height: 70vh;
            margin-top: 40px;
            color: white; */
            padding:20px 0px 0px 50px;
            /* justify-content: space-between; */
        }
        .techprice p{
            align-items: center;
            font-size: 12px;
        }
        #pspeakers-img{
            height: 300px;
           width: 300px;
           justify-content: space-between;

        }
        .view{
            /* margin-left: 800px; */
            margin-top: 10px;
            /* margin-right: 100px; */
            color: blue;
            margin-top: 80px;
            
        }
        .Speakers{
            color: blue;
            font-weight: 700;
            font-size: 60px;
            margin-left: 10px;
            margin-top: 70px;
        }
        footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #132351;
            padding: 5px 10px;
            align-items: center;
            margin-top: 60px;
            
        }
        .right-footer{
            justify-content: center;
            /* border: 1px solid red; */
            margin-bottom: -10px;
        }
        .fellow-links{
            /* gap: 50px; */
            /* border: 1px solid red; */
            margin-top: -20px;
        }
        #down-a{
            /* margin-left: 650px; */
            gap: 20px;
            /* display: flex; */
           
        }

        .fel {
            display: flex;
            flex-direction: column;
        }
        .fellow{
            margin-left: 25px;
            margin-top: -20px;
        }
        .line-img{
            display: flex;
            /* flex-wrap: wrap;
            justify-content: space-between; */
            gap: 10px;
            animation: lineimg 10s linear infinite;
            /* transform: translateX(1000px); */
            margin-left: 0px;
        }
        .line-img img{
            width: 15%;
            height: 80px;
            object-fit: cover;
        }
}