body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.nav-item{
    font-weight: 500;
    font-size: 24px;
    color: blue;
}
.nav-item:hover{
    text-decoration: underline;
    color: yellow;
}
#nav{
    margin-left: 700px;
}
.nav-items{
    color: rgba(0, 0, 185, 0.861);
    font-weight: bold;
    border: none;
}
#get:hover{
    color: white;
}
#nav-bottom{
    display: flex;
}
#line2 {
    /* margin-left: 200px; */
    /* transform: translateX(200px); */
}
.sept{
    margin-top: 10px;
    font-weight: 500;

}
.maiden {
    margin-top: 10px;
    font-weight: 400;
}
.edition{
    display: flex;
}
.september{
    display: flex;
}
#line1 {
    transform: translateX(20px);
}
#star{

    animation: star 2s infinite;
}


@keyframes star {
    100% {
        transform:rotate(360deg);
    }

}

#two-input{
    color: blue;
    font-family: 500;
    gap: 20px;
}

#become{
    cursor: pointer;
}

#Venue{
  text-align: center;
  color: white;
  margin-top: 50px;
  background-image: linear-gradient(to right, #ca9002, #5576cf,#5576cf);
}
.Venue{
    font-family: 900;
    font-size: 80px;
}
.Agbowo{
    font-family: 500;
    font-size: 30px;
}
.tit{
    margin-top: 170px;
    width: 550px;
    margin-left: 10px;
    
}

.tit p{
 font-weight: 600;
 color: blue;
 margin-left: 10px;
}
.Poster-img{
  height: 10px;
  width: 50px;
  margin-left: 20px;
  /* margin-top: 50px; */
}

.vv{
    font-weight: 2000;
    color: blue;
    margin-left: 10px;
    border-bottom: 2px solid gold;
}
.vv h1{
    margin-top: 40px;
}
.Venue-img{
    width: 100px;
    height: 400px;

}
.Speakers{
    color: blue;
    font-weight: 700;
    font-size: 60px;
    margin-left: 10px;
    margin-top: 70px;
}
.view{
    /* margin-left: 910px; */
    transform: translateX(900px);
    color: blue;
    margin-top: 105px;
}
.spview{
    display: flex;
    border-bottom: 2px solid gold;
}
.center{
    margin-left: 10px;
    background-image: url(images/Venue-1-38edfbf0.png);
    height: 80vh;
    background-size: cover;
    max-width: 100%;
    margin-top: 40px;
}
#pspeakers{
  flex-direction: row;
  /* justify-content: space-evenly; */
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* column-gap: 5px; */
  /* line-height: 50px; */
  padding: 10px;
  color: #0759fc;
  font-weight: 500;
  text-align: center;
  
}
.img{
    height: 300px;
   width: 300px;
   justify-content: space-between;
}
#pspeakers h1{
    margin-left: 60px;
    font-size: 30px;
}
#pspeakers p{
    margin-left: 60px;
}
.ticket{
    color: blue;
    font-weight: 900;
    font-size: 80px;
    padding-left: 50px;
    /* border: 1px solid red; */
    padding-top: 70px;
    border-bottom: 2px solid gold;
}

#techpro{
    margin-top: 100px;
}
#techpro1{
  
    color: blue;
}
#ticket-img{
    height: 500px;
    width: 400px;
    margin-left: 500px;
}
#ticket p{
    padding-left: 50px;
    margin-top: 90px;
    font-size: 13px;
}
#prices{
    color: #0011ff;
    margin-left: 250px;
    /* font-weight: 1000; */
}
.container-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 100px;
    padding: 100px;
}
.card1{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: white;
}
.card1:hover{
    background-color: green;
    transition: 1s ease-in-out;
    color: white;
}
.card2{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #ecbb3d;
    color: rgb(90, 90, 193);
}
.card3{
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: white;
}
.card3:hover{
    background-color: blue;
    transition: 1s ease-in-out;
    color: white;
}
.container-card a{
    text-decoration: none;
    /* margin-left: 20px; */
    color: white;
}
.container-card button{
  /* margin-left: 200px; */
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 208, 0);
  height: 50px;
  width: 150px;
  gap: 50px;
  top: 40px;
}
.container-card button{
    font-weight: 800;
    font-size: 20px;
}
.container-card p{
    padding: 10px;
}
/* .container-card span{
    padding: 10px;
} */
.container-card h1{
    padding: 10px;
}
.card1 button a{
    color: black;
}
.card button a{
    color: black;
}
.gold{
    padding:0 100px;
    color: #0011ff;
    font-weight: bold;
}
.line-img{
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-between; */
    gap: 50px;
    animation: lineimg 10s linear infinite;
    /* transform: translateX(1000px); */
    margin-left: 550px;
}
.line-img img{
    width: 25%;
    height: 80px;
    /* gap: 50px; */
    object-fit: cover;
}
@keyframes lineimg{
    0%{
        transform: translate(0px);
    }

    100% {
        transform: translateX(-500px);
    }
}
.techprice{
    background-image: linear-gradient(to right, #132351, #132351, #cf5a63);
    /* display: flex; */
    /* flex-wrap: wrap; */
    height: 70vh;

    margin-top: 40px;
    color: white;
    padding: 50px 50px 200px 50px;
    justify-content: space-between;
}
/* .techprice img{
    height: 200px;
} */
.laptop{
    height: 140px;
  /* transform: translateY(150px); */
  position: relative;
  top: 150px;
}

.laptop:hover {
   animation: lap 3s infinite;
}

@keyframes lap{
   100% {
     transform: rotate(45deg);
   }
}


.girl{
height: 350px;
}
.watch{
height: 160px;
}

.watch:hover {
    animation: wat 3s infinite;
 }
 
 @keyframes wat{
    100% {
      transform: rotate(-45deg);
    }
 }
 .partners{
    padding:0 100px;
    color: #0011ff;
    font-weight: bold;
    margin-top: 200px;
 }

 .san{
    display: flex;
    height: 60px;
    width: 40px;
    margin-top: 40px;
    gap: 40px;
    animation: san 12s linear infinite;
    transform: translateX(1000px);
 }
 @keyframes san{
    0%{
        transform: translate(0px);
    }

    100% {
        transform: translate(-500px);
    }
}
/* @keyframes fly {
    0%{
        transform: translate(1300px);
    }

    100% {
        transform: translate(-200px);
    } */
.media{
    padding:0 100px;
    color: #0011ff;
    font-weight: bold;
    margin-top: 230px;
}
.hfm{
    display: flex;
    height: 60px;
    width: 40px;
    margin-top: 40px;
    gap: 40px;
    animation: hfm 10s linear infinite;

}
@keyframes hfm{
    0%{
        transform: translate(0px);
    }
    100% {
        transform: translate(-500px);
    }
}

.community{
    padding:0 100px;
    color: #0011ff;
    font-weight: bold;
    margin-top: 230px;
}
.pot{
    display: flex;
    display: flex;
    height: 60px;
    width: 40px;
    margin-top: 40px;
    gap: 40px;
    animation: pot 10s linear infinite;
}
@keyframes pot{
    0%{
        transform: translate(0px);
    }
    100% {
        transform: translate(-500px);
    }
}

#down-nav{
    height: 90px;
    /* width: 1280px; */
    background-color: #132351;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
.fel{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
#down{
    display: flex;
}
.fellow{
    color: white;
}

#down-a{
    /* margin-left: 650px; */
    gap: 50px;
    display: flex;
   
}
#nav-speak{
    color: white;
    text-decoration: none;
    
}
#nav-cont{
    color: white;
    text-decoration: none;
}
#nav-ven{
    color: white;
    text-decoration: none;
}
#nav-part{
    color: white;
    text-decoration: none;
}
 
footer {
    display: flex;
    justify-content: space-between;
    background-color: #132351;
    padding: 5px 10px;
    align-items: center;
    margin-top: 60px;
}
